.button
  &__menured
    font-size: 15px
    font-weight: 600
    line-height: 21px
    letter-spacing: 0
    padding: 17px 47px
    color: $bg-primary
    background: $color-red-dark
    text-decoration: none
    margin-right: 17px
