.button
  &__menured
    font-size: 15px
    font-weight: 600
    line-height: 21px
    letter-spacing: 0
    padding: 17px 47px
    color: $bg-primary
    background: $color-red-dark
    text-decoration: none
    margin-right: 17px
  &__tickets
    font-family: $primary-font
    font-size: 14px
    letter-spacing: 0px
    font-weight: 600
    padding: 17px 47px
    color: $color-red-dark
    background-color: $bg-primary
    border: 1px solid #96ADC9
    border-radius: 0
    margin-top: 35px
    transition: none
    &:hover
      background-color: $primary-color
      color: $bg-primary
      border-color: $primary-color

.main-btn
  font-family: $primary-font
  font-size: 15px
  font-weight: bold
  text-decoration: none
  width: 260px
  border: 1px solid transparent
  display: inline-block
  text-align: center
  padding: 20px 0px
  transition: all .3s ease-in-out
  margin-right: 40px
  &:last-of-type
    margin-right: 0px
  &__red
    background-color: $color-red-dark
    border-color: $color-red-dark
    color: #fff
    &:hover
      background-color: $bg-primary
      border-color: $color-red-dark
      color: $color-red-dark
  &__white
    background-color: #fff
    border-color: $color-red-dark
    color: $color-red-dark
    &:hover
      background-color: $color-red-dark
      border-color: $color-red-dark
      color: #fff

.download-link
  display: flex
  justify-content: center
  align-items: center
  svg
    width: 20px
    fill: #fff
    margin-right: 10px
    transition: all .3s ease-in-out
  &:hover
    svg
      fill: $color-red-dark

@media (max-width: $md)
  .main-btn
    &__mob-centered
      display: block
      margin: 0 auto 20px auto!important

@media (max-width: 370px)
  .button
    &__menured
      padding: 17px 20px
