.speaker-card
  position: relative
  min-height: 487px
  img
    width: 100%
    height: auto
    border: 10px solid #fff
  &__content
    position: absolute
    bottom: 50px
    right: 0px
    background-color: #fff
    padding: 30px 20px
    width: 335px
    min-height: 175px
  &__title
    color: $secondary-color
    font-size: 24px
    letter-spacing: -0.3px
    line-height: 28px
  &__position
    color: $color-red-dark
    line-height: 28px