.section-banner
  min-height: 925px
  max-height: 925px
  display: flex
  justify-content: center
  align-items: center
  position: relative
  //overflow: hidden
  margin-bottom: 300px
  img
    position: absolute
    width: 100%
    height: auto
  &__content
    //position: absolute
    //width: 100%
    //height: auto
    //z-index: 2
  &__title
    font-family: $primary-font
    font-size: 100px
    font-weight: normal
    color: #fff
    letter-spacing: -3px
    line-height: 100px
    margin-bottom: 40px
    span
      display: block
      color: $color-red-dark
  &__subtitle
    font-family: $primary-font
    font-size: 24px
    color: #fff
    letter-spacing: 2px
    margin-bottom: 10px
  &__description
    font-family: $primary-font
    font-size: 16px
    color: #fff
    line-height: 36px
    margin-bottom: 40px
  &__link
    text-decoration: none
    width: 26px