.section-speakers
  position: relative
  background-color: $primary-color
  padding-top: 335px
  padding-bottom: 220px
  overflow: hidden
  &__bg-img-1
    display: block
    z-index: 1
    position: absolute
    top: 200px
    width: 210px
    height: 773px
    background-image: url('../../../images/Bg_speakers_tirangles.svg')
    background-repeat: no-repeat
    background-size: cover
  &__bg-img-2
    display: block
    z-index: 1
    position: absolute
    bottom: -100px
    right: 0px
    width: 507px
    height: 627px
    background-image: url('../../../images/Bg_speakers_cross.svg')
    background-repeat: no-repeat
    background-size: cover
  &__title
    font-weight: normal
    font-size: 80px
    letter-spacing: -3px
    color: #fff
    margin-bottom: 200px

  .main-btn
    margin-top: 120px

@media (max-width: $md)
  .section-speakers
    padding-top: 100px
    padding-bottom: 120px
    &__title
      margin-bottom: 80px
    &__bg-img-1
      top: 50px
    .main-btn
      margin-top: 60px
      position: relative
      z-index: 2