.section
  &__aboutus-intro
    padding: 160px 0
    position: relative
    background-color: $bg-color-blue
    overflow: hidden
    .section-about-us__bg-img-2
      top: -70px
  &__aboutus-sidteam
    padding: 0 0 160px 0
    position: relative
    background-color: $bg-color-blue
  &__aboutus-bottom
    padding: 0 0 160px 0
    position: relative
    background-color: $bg-color-blue

  .aboutus-bottom
    &__title
      font-family: $primary-font
      font-size: 50px
      font-weight: normal
      line-height: 60px
      letter-spacing: -3px
      color: $secondary-color
      margin-bottom: 30px
    &__subtitle
      font-family: $primary-font
      font-size: 16px
      font-weight: bold
      line-height: 30px
      color: $color-red-light
      position: relative
      display: inline-block
      &::after
        position: absolute
        display: inline-block
        top: 50%
        transform: translateY(-50%)
        content: ''
        width: 70px
        height: 2px
        background-color: $color-red-light
        margin-left: 15px
    &_description
      font-family: $primary-font
      font-size: 16px
      letter-spacing: 0px
      color: $text-color-grey
    &__link
      color: black
    &__leftCol
      padding-left: 60px
    &__titleCol
      padding-bottom: 50px


.aboutus
  &__title-intro
    font-family: $primary-font
    font-size: 55px
    line-height: 82.5px
    font-weight: 600
    letter-spacing: -0.30px
    color: $secondary-color
    margin-bottom: 0
  &__subtitle-intro
    font-family: $primary-font
    font-size: 55px
    font-weight: 300
    line-height: 82.5px
    letter-spacing: -0.30px
    color: $color-red-dark
  &__text-intro
    font-family: $primary-font
    font-size: 16px
    letter-spacing: 0px
    color: $text-color-grey
  &__leftCol
    padding-left: 60px
    img 
      width: 100%
      height: auto
  &__titleCol
    padding-bottom: 50px
  &__teamCol
    position: relative
    padding: 0 22px
    margin-bottom: 80px
  &__title-team
    font-family: $primary-font
    font-size: 24px
    letter-spacing: -0.30px
    color: $secondary-color
    max-width: 290px
    padding-top: 15px
    margin-bottom: 5px
  &__position-team
    font-family: $primary-font
    font-size: 16px
    font-weight: 600
    letter-spacing: 0px
    color: $color-red-dark
    max-width: 290px
  &__social-team
    position: absolute
    top: 365px
    right: 30px


@media (max-width: $lg)
  .section
    &__aboutus-intro
      padding: 20px 0
    &__aboutus-sidteam
      padding: 0
    &__aboutus-bottom
      padding: 0 0 20px 0

  .aboutus
    &__leftCol
      padding: 0 20px
      img
        margin-top: 20px
    &__subtitle-intro
      font-size: 45px
    &__teamCol
      img
        width: 100%
        height: auto