#events-section
  background-color: $bg-color-blue
  padding: 130px 0px 
  overflow: hidden
  .events-links
    padding: 0
    margin: 0
    list-style-type: none
    display: flex
    justify-content: space-between
    width: 100%

    &__link-wrapper
      margin-right: 10px
      &:last-of-type
        margin-right: 0px
    &__link
      display: block
      padding: 20px 60px
      text-decoration: none
      background-color: #fff
      color: #000
      border: 1px solid $color-red-dark
      transition: all .2s ease-in-out
      &:hover
        background-color: $color-red-light
        color: #fff

.type-events
  position: relative
  z-index: 1
  padding: 200px 0px
  &:nth-child(odd)
    background-color: #fff
    .event-background
      top: -100px
      left: -445px
  .event-title
    font-size: 80px
    font-weight: bold
    letter-spacing: -.3px
    line-height: 90px
    color: $secondary-color
    margin-bottom: 35px
  .event-subtitle
    color: $color-red-light 

  .event-description
    line-height: 28px
    color: $text-color-grey
    margin-bottom: 70px

  .section-event-testimonials
    margin-bottom: 100px
    &__title
      font-size: 55px
      font-weight: bold
      letter-spacing: -0.3px
      line-height: 90px
      color: $secondary-color
      margin-bottom: 50px
    .testimonials-swiper
      width: 100%
      overflow: hidden
      position: relative
    .testimonials-button-next,
    .testimonials-button-prev
      &::after
        color: $secondary-color
    .testimonials-button-prev
      left: -50px
    .testimonials-button-next
      right: -50px

  .event-background
    display: block
    z-index: 2
    position: absolute
    top: 50px
    right: -445px
    width: 890px
    height: 890px
    background-image: url('../../images/event-background.svg')
    background-repeat: no-repeat
    background-size: cover


.section-event-gallery
  position: relative
  &__title
    font-size: 55px
    font-weight: bold
    letter-spacing: -0.3px
    line-height: 90px
    color: $secondary-color
    margin-bottom: 50px
  .gallerySwiper
    margin-bottom: 30px
    .swiper-slide
      img
        max-width:100%
        width: 100%
        height: 890px
        object-fit: cover
        object-position: center
  .gallery-swiper-button-next,
  .gallery-swiper-button-prev
    bottom: 155px
    top: auto
    &::after
      color: $secondary-color
  .gallery-swiper-button-next
    right: 150px
  .gallery-swiper-button-prev
    left: 150px
  .gallerySwiperThumbs
    .swiper-slide
      transition: all .3s ease-in-out
      border: 5px solid transparent
      &:hover
        cursor: pointer
      img
        max-width:100%
        width: 100%
        height: 350px
        object-fit: cover
        object-position: center
    .swiper-slide-thumb-active
      border-color: $color-red-dark


.container
  &__events-links
    z-index: 2
    position: relative

@media (max-width: $lg)
  #events-section
    padding: 20px 0
    .event-background.rellax
      display: none
    .events-links
      display: block
      &__link-wrapper
        margin-right: 0

  .type-events
    padding: 50px 0 0 0
    .section-event-testimonials
      margin-bottom: 0
      &__title
        font-size: 45px
        margin-bottom: 0px
    .event-title
      font-size: 65px
      line-height: 60px
      .event-subtitle
        font-size: 40px
        line-height: 40px
  .section-event-gallery
    position: relative
    &__title
      font-size: 45px
      margin-bottom: 0px

@media (max-width: $xxl)
  .section-event-gallery
    .gallery-swiper-button-next
      display: none
    .gallery-swiper-button-prev
      display: none