#main-footer
  background-color: $primary-color
  .main-footer-wrapper
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    padding-top: 120px
    padding-bottom: 80px
    border-bottom: 1px solid transparentize(#fff, 0.8)
    .widget
      color: $text-color-blue
      max-width: 380px
      .widget-title
        color: #fff
        font-family: $primary-font
        font-size: 34px
        font-weight: 400
        margin-bottom: 40px
      p
        color: $text-color-blue
        font-family: $primary-font
        font-size: 16px
        line-height: 26px
        &:last-of-type
          margin-bottom: 0px
        strong
          opacity: 0.8
          font-size: 20px
          font-weight: normal
          line-height: 36px

      figure
        display: inline-block
        margin: 0px 30px 60px 0px
        &:last-of-type
          margin-right: 0px
          img
            mix-blend-mode: screen
      img
        max-height: 64px
        display: inline-block

      .menu
        margin: 0
        padding: 0
        list-style-type: none
        column-count: 2
        li
          margin-bottom: 40px
          a
            color: $text-color-blue
            font-family: $primary-font
            font-size: 16px
            text-decoration: none
            line-height: 26px
            transition: all .4s ease-in-out
            opacity: .8
            &:hover
              color: $color-red-dark
  .copyright-wrapper
    .menu-copyright-menu-container
      display: flex
      justify-content: center
      #copyright-menu
        margin: 0
        padding: 0
        list-style-type: none
        display: flex
        justify-content: center
        .menu-item
          margin-right: 40px
          padding: 20px 0px
          &:last-child
            margin-right: 0px
          a
            color: transparentize($text-color-blue, 0.2)
            font-family: $primary-font
            font-size: 16px
            text-decoration: none
            transition: all .4s ease-in-out
            &:hover
              color: $color-red-dark

@media (max-width: $lg)
  #main-footer
    .main-footer-wrapper
      padding-top: 90px
      padding-bottom: 10px
      .widget
        margin: 0px 0px 40px 0px
        &:first-child
          width: 60%
          max-width: 60%
          margin-bottom: 100px
        &:nth-child(2)
          width: 50%
          max-width: 50%
        &:last-child
          width: 50%
          max-width: 50%
        figure
          margin-bottom: 60px

@media (max-width: $sm)
  #main-footer

    .main-footer-wrapper
      padding-top: 70px
      padding-bottom: 10px
      padding-right: 40px
      padding-left: 40px
      .widget
        margin: 0px 0px 60px 0px
        &:first-child
          width: 100%
          max-width: 100%
          margin-bottom: 60px
        &:nth-child(2)
          width: 100%
          max-width: 100%
          margin-bottom: 20px
        &:last-child
          width: 100%
          max-width: 100%
        figure
          margin-bottom: 55px
          margin-right: 20px
          &:last-of-type
            margin-right: 0
          img
            width: 100%
            height: 48px
            max-height: 48px

    .copyright-wrapper
      .menu-copyright-menu-container
        justify-content: flex-start
        #copyright-menu
          display: flex
          justify-content: flex-start
          flex-direction: column
          padding: 30px 40px
          .menu-item
            margin: 0px 0px 10px 0px
            padding: 0
            &:last-child
              margin: 0
