@import 'aboutus'
@import 'header'
@import 'footer'
@import 'kontakt'
@import 'location'
@import 'mediacorner'
@import 'partners'
@import 'events'
@import 'presentation'
@import 'program'
@import 'speakers'
@import 'terms'
@import 'testimonials'
@import 'tickets'
@import '_home/_home'

html,
body
  font-size:  16px
  font-family: $primary-font

.only
  &__responsive
    display: none
  &__desktop
    display: block

.text-info-details
  margin-bottom: 100px
  color: $text-color-grey
  font-size: 16px

#page-partners-section
  .partners__topsection-title
    color: $primary-color
    margin-top: 100px
    margin-bottom: 10px
    padding: 0
  .text-info-details
    margin-top: 0px
    margin-bottom: 60px


@media (min-width: $xxl)
  .container
    max-width: 1440px
    padding: 0
    &__inside
      max-width: 1160px

@media (max-width: $lg)
  .only
    &__responsive
      display: block
    &__desktop
      display: none
  .section-about-us__bg-img-2
        display: none
