#wrapper-navbar
  width: 100%
  z-index: 999

.custom-logo
  width: 94px
  height: 94px

.navbar
  padding: 12px 0
  background-color: $bg-primary
  .menu-item
    display: block
  .menu-item > a
    display: block
    outline: 0
    font-family: $primary-font
    text-decoration: none
    color: #555555
    font-size: 18px
    letter-spacing: 0
    line-height: 42px
    font-weight: 400
    padding: 0 20px
    &:hover
      color: $color-red-dark
      text-decoration: none
    &:focus
      outline: 0

.navbar-toparea
  padding: 8px 0
  border-bottom: 2px solid #EBEBEB
  .menu-item > a
    font-size: 14px

.navbar-expand-xl
  .navbar-collapse
    justify-content: flex-end
