.wrapup-intro
    &__col
        img
            width: 100%
    &__ante-title
        border-bottom: 2px solid #c50013
        color: #c50013
        font-family: $primary-font
        font-size: 16px
        font-weight: 600
        line-height: .1em
        margin: 10px 0 20px
        text-align: left
        width: 210px
        span
            background: $bg-color-blue
            padding: 0 20px 0 0
    &__title
        color: #002249
        font-family: $primary-font
        font-size: 60px
        font-weight: 400
        letter-spacing: -.3px
        line-height: 70px
        padding-top: 15px